.add_project {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_project i {
  color: #fc7561;
  display: inline-block;
  margin-right: 0.5rem;
}
